#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Контейнер для всех карточек книг */
.books-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

/* Заголовок списка */
.books-title {
  font-size: 1.8em;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

/* Контейнер для списка книг */
.books-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Адаптивная сетка */
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Каждая карточка книги */
.book-card {
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  text-align: center;
}

.book-card:hover {
  transform: scale(1.05); /* Эффект увеличения при наведении */
}

/* Изображение книги */
.book-image {
  width: 100px;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
  margin: 10px 0;
}

/* Название книги */
.book-title {
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
  margin: 10px 0;
}

/* Автор книги */
.book-author {
  font-size: 1em;
  color: #777;
  margin-bottom: 10px;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
